@model IEnumerable<FurnitureSteals.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "TiledProducts";
}

<div class="container" align="center">
    <p>
        <h1> Our Products</h1>

        @*<label for="categoryId" class="control-label d-block text-center"></label>
        <select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
            <option value="0">Filter by Category</option>
        </select>*@
        <a asp-action="Index" class="btn btn-primary btn-small">List View</a>

        @if (User.IsInRole("Admin"))
        {
            <span>
                <a asp-action="Create" class="btn btn-primary text-center">Add a Product</a>
            </span>

        }
    </p>

</div>

<div class="container" align="center">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/images/@item.ProductImage" alt="@item.ProductDescription">
                    </div>
                    <div class="detail-box m-1">
                       <h5> @Html.DisplayFor(modelItem => item.CollectionName) <br>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                       </h5>
                       <br>
                        <strong> @Html.DisplayFor(modelItem => item.Price)</strong>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-id="@item.ProductId" class="option1">Details</a>
                        <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="option2">
                            Add To Cart
                        </a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
